body.light {
  // Global
  --body-bg-1: #F9F9F9;
  --text-1: #1a1c1f;
  --text-2: white;

  // Navbar
  --navbar-bg-1: rgb(231, 102, 102);

  // Listing
  --listing-bg-1: rgb(231, 102, 102);
  --listing-text-1: white;

}

body.dark {
  // Global
  --body-bg-1: #1A1C1F;
  --text-1: white;
  --text-2: #1a1c1f;

  // Navbar
  --navbar-bg-1: #fff;

  // Listing
  --listing-bg-1: rgb(242, 164, 164);
  --listing-text-1: black;
}

.link {
  text-decoration: none !important;
  color: inherit;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
}